torch
gym==0.26.2
stable-baselines3
sentence-transformers
tqdm==4.65.0
rich==13.4.2
pygame==2.5.2
progressbar==2.5
protobuf==5.27.0
# flash-attn
adapters
peft==0.11.1
accelerate==0.31.0
transformers
wandb==0.17.2
bitsandbytes